:root{
    --hauteur-menu:60px;
    --color1: #ffc400;
    --color2: rgb(31, 30, 30);
    --color3: #f5f5f5;
}
@font-face {
  font-family: "font1";
  src: url(/static/assets/ProtestStrike-Regular.ttf);

 
}
@font-face {
  font-family: "font2";
  src: url(/static/assets/Homenaje-Regular.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    font-family: "font2";
    font-size: 20px;
}
nav{
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
}
nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px var(--color1);
    height: var(--hauteur-menu);
}

nav ul{
    list-style-type: none;
}

nav > ul > li{
    background-color: var(--color2);
    position: relative;
    height: 100%;
    flex: 1;
}

nav > ul > li > a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li a{
    text-decoration: none;
    color: var(--color1);
}

.menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

.sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color: var(--color2);
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
}
  
.sous-menu > li > a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
}

nav > ul > li:hover > a{
    color: var(--color1);
}

.sous-menu > li:hover {
    background-color: rgba(102, 102, 102, 0.3);
  }
  
  .sous-menu > li:hover > a {
    color: var(--color3);
  }
  
  @keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }
  
  .menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
  }

  @keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid var(--color1);
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid var(--color1);
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }

  .menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
  }

body{
  background: url(/static/assets/wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.OUI{
  margin-bottom: 25%;
  margin-top: 20%;
  text-align: center;

}

.accueil-h1{
  color: var(--color3);
  font-family: "font1";
  font-size: 10cap;
  text-shadow: var(--color1) 0 0 30px;
}

h2{
  color: var(--color1);
}

.accueil-p{
  background-color: var(--color2);
  color: var(--color3);
  font-size: 2cap;
  text-align: justify;
  margin-top: 10%;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 5%;
  margin-bottom: 0;
  padding-bottom: 5%;
}

.gang{
  margin-left: 20%;
  margin-right: 20%;
}

.gang h1{
  color: var(--color3);
  text-align: center;
  font-size: 4cap;
  text-decoration: underline;
  margin-bottom: 10%;
}

.gang h2{
  font-size: 3.5cap;
  margin-bottom: 5%;
  margin-left: 2%;
}

.gang h3{
  font-size: 3cap;
  margin-bottom: 5%;
  margin-left: 3%;
  color: var(--color1);
}

.gang p{
  color:  var(--color3);
  text-align: justify;
  margin-bottom: 7%;
}

.diplome{
  border: #ffc400 solid 5px;
  border-radius: 10%;
  margin: 2%;
  flex: auto;
}

.diplomes > div{
  height: 250px;
  width: 15cap;
  background-color: var(--color2);

}

.diplomes div p{
  margin: 1%;
  text-align: center;
}

.diplomes div div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.diplomes img{
  height: 10cap;
}

.diplomes{
  display: flex;
}

.gang form{
  color: var(--color1);
  display: grid;
}

