<div class="gang">
    <h1>DGFiP</h1>
    <h2>Presentation</h2>
    <p>
        La direction générale des Finances publiques (DGFiP) représente à la fois un service public enraciné dans l’histoire de l’État et une administration nouvelle issue de la fusion en 2008 de la direction générale des impôts et de la direction générale de la comptabilité publique.
        Ses missions permettent à la fois de contribuer à la solidité financière des institutions publiques et de favoriser un environnement de confiance dans la société, l’économie et les territoires.
        Les services de la DGFiP sont présents sur l’ensemble du territoire, au plus près de ses usagers et de ses partenaires. Installés dans les centres des Finances publiques, ces services appartiennent à différentes catégories, qui reflètent la diversité des missions exercées par la DGFiP et de ses publics.    
        L’organigramme de la DGFiP présente la structure des différents services rattachés au Directeur Général et au Directeur Général Adjoint.
    </p>
    <h2>Mon role</h2>
    <p>
        J'ai intégré la DGFiP en septembre 2022 au sein du service sécurité. Mon role au sein de ce service est le devellopement et la mise en production d'une application web permettant le traitement de ticket. 
    </p>
    <p>Pour plus d'information je vous renvoi vers le site de la <a href="https://www.impots.gouv.fr/accueil">DGFiP</a></p>
</div>