<div class="gang">
    <div>
        <h1 class="profil-h1">Profil</h1>
    </div>
    
    <div>
        <div>
            <h2>A propos</h2>
            <p>Je m’appelle Noah Megnet j’ai 20 ans. Je suis actuellement étudiant en deuxième année de BTS « SIO spécialité SLAM » (Services Informatiques aux Organisations spécialité en Solutions Logicielles et Applications Métiers) au Campus Landes à Mont-de-Marsan. Ma passion pour l’informatique et les nouvelles technologies remonte à mes jeunes années. C’est donc tout naturellement que j’ai orienté mes études vers ce domaine, en commençant par deux années de BAC Général avec les spécialitées« Maths et NSI » (Numérique Sciences Informatique), suivi de deux années en BTS SIO.</p>
        </div>
        <div>
            <h2>Cursus</h2>
            <div class="diplomes">
                <div class="diplome brevet">
                    <p>Brevet</p>
                    <div>
                        <img src="/static/assets/diplome.png" alt="diplome">
                    </div>
                    <p>Collège Labrit</p>
                </div>
                <div class="diplome bac">
                    <p>Baccalauréat Général</p>
                    <div>
                        <img src="/static/assets/diplome.png" alt="diplome">
                    </div>
                    <p>Lycée Victor Duruy - Mont de Marsan</p>
                </div>
                <div class="diplome bac">
                    <p>BTS SIO SLAM</p>
                    <div>
                        <img src="/static/assets/etude.png" alt="diplome">
                    </div>
                    <p>Campus Landes - Mont de Marsan</p>
                </div>
                <div class="diplome bac">
                    <p>DGFiP</p>
                    <div>
                        <img src="/static/assets/travail.png" alt="diplome">
                    </div>
                    <p>Cité Administrative - Bordeaux</p>
                </div>
            </div>
        </div>
        <div>
            <h2>Compétences</h2>
            <div class="diplomes">
                <div class="diplome brevet">
                    <p>Python</p>
                    <div>
                        <img src="/static/assets/python.png" alt="diplome">
                    </div>
                    <p>75%</p>
                </div>
                <div class="diplome bac">
                    <p>Html CSS JS</p>
                    <div>
                        <img src="/static/assets/html.png" alt="diplome">
                    </div>
                    <p>60%</p>
                </div>
                <div class="diplome bac">
                    <p>Postgresql</p>
                    <div>
                        <img src="/static/assets/postgresql.png" alt="diplome">
                    </div>
                    <p>50%</p>
                </div>
                <div class="diplome bac">
                    <p>Framework Flask</p>
                    <div>
                        <img src="/static/assets/flask.png" alt="diplome">
                    </div>
                    <p>50%</p>
                </div>
            </div>
        </div>
        <div>
            <h2>Quatités</h2>
            <div class="diplomes">
                <div class="diplome">
                    <div>
                        <img src="/static/assets/teamwork.png" alt="teamwork">

                    </div>
                    <p>Je connais l'importance du travail d'équipe grâce à mon alternance, je sais que je ne peut pas tous faire tous seul et je n'hesite pas à demander de l'aide aux personnes plus qualifiées que moi quand j'en ai besoin.</p>
                </div>
                <div class="diplome">
                    <div>
                        <img src="/static/assets/autonome.png" alt="autonomie">

                    </div>
                    <p>Même si je sais travailler en équipe, il n'empêche que je suis la plupart du temps en autonomie et je demande de l'aide après avoir estimé faire mon maximum.</p>
                </div>
            </div>
        </div>
        <div>
            <h2>Centres d'interet</h2>
            <div class="diplomes">
                <div class="diplome">
                    <div>
                        <img src="/static/assets/vb.png" alt="vb">

                    </div>
                    <p>Je fais du volley depuis 7 ans maintenant.</p>
                </div>
                <div class="diplome">
                    <div>
                        <img src="/static/assets/draw.png" alt="draw">

                    </div>
                    <p>Je dessine depuis que je suis tous petit.</p>
                </div>
                <div class="diplome">
                    <div>
                        <img src="/static/assets/cook.png" alt="cook">

                    </div>
                    <p>Je me suis mit recemment à la cuisine.</p>
                </div>
            </div>
        </div>
    </div>
</div>