<div class="gang">
    <h1>Projets</h1>
    <h2>Projets Option SLAM - Epreuve E5</h2>
    <p>Bienvenue sur la page de mes projets pour le BTS SIO option SISR. Ici, je présente deux de mes travaux phares réalisés durant ma formation : l’un axé sur les systèmes informatiques, mettant en avant mes compétences en gestion et optimisation des systèmes d’exploitation; l’autre centré sur les réseaux, illustrant ma capacité à concevoir et sécuriser des infrastructures réseau. Ces projets soulignent mon aptitude à naviguer dans les deux piliers fondamentaux du SISR, prouvant ma polyvalence et ma préparation à relever les défis technologiques contemporains. Explorez pour découvrir comment chaque projet reflète ma passion et mon engagement envers l’informatique et la technologie.</p>
</div>